[SddmGreeterTheme]
Name=Federation Login
Description=United Federation of Planets Login
Author=Aramis76
Copyright=
License=CC-BY-SA
Type=sddm-theme
Version=1.0
Website=
Screenshot=sddmfederation.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=Dirkvdb@hotmail.com
Theme-Id=Federation
Theme-API=2.0
